.background-index {
    background-image: url('../img/image_bc.png');
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.background-portfolio {
    background-image: url('../img/bg-portfolio.png');
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.background-skills {
    background-image: url('../img/bg-skills.png');
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.background-passions {
    background-image: url('../img/bg-passions.png');
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.background-contact {
    background-image: url('../img/bg-contact.png');
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}